:root {
    --bg-color: #FF8264;
    --text-color: #000000;
    --home-after-bg: rgba(255, 255, 255, 0.6);
    --profile-card-bg: #FF9900;
    --game-bg: var(--profile-card-bg);
}

.dark {
    --bg-color: #455D7A;
    --text-color: #ffffff;
    --home-after-bg: rgba(0, 0, 0, 0.6);
    --profile-card-bg: #2d4059;
    --game-bg: var(--profile-card-bg);

}